<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto & display = swap" rel = "hoja de estilo ">
    <script src="https://kit.fontawesome.com/85fec555d4.js" crossorigin="anonymous"></script>
    <script src=https://api.whatsapp.com/send?phone crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
 
<body>
  
    <header class="mi-header">

        <div class="parte-superior">
            <img src="/img/logo-mercado-liebre.svg" class="logo">


            <div class="barra-busqueda">
                <form action="">
                    <input type="text" placeholder="Buscar Productos y Mas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>

            </div>



            <i class="fa fa-hand-holding-usd"></i>
            <p class="mi-h2">Compra en cuotas y sin tarjeta de credito</p>


        </div>

        <nav class="parte-inferior">

          <button class="button"><a href="#"></a>
              <i class="fas fa-bars"></i></button>



            </a>

            <div id="whatsapp-icon" style="position:fixed; left:10px; bottom:10px; text-align:center; padding:3px">
                <a href="https://api.whatsapp.com/send?phone=+34662681XXX">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png"
                        width="50" height="50"></a>
            </div>


            <ul class="text-uno">
                <li><a href="#"></a>Oferta</a></li>
                <li>Tiendas Oficiales</a></li>
                <li>Vender</a></li>
                <li>Ayuda</a></li>
            </ul>

            <ul class="text-dos">
                <li><a href="/formulario">Crea Tu Cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresar</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="./">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
</header>


<section class="login">
    <h3>Formulario Login</h3><br>
    <input type="text" name="usuario" value="" placeholder="Nombre de usuario"><br><br>
    <input type="password" name="contraseña" value="" placeholder="Elegí tu contraseña">

</section>


<footer>
    <div class="footer">

        <div><i class="fas fa-credit-card icono"></i>
            <h4><strong>PAGA CON TARJETA O EFECTIVO</strong></h4>
            <P>Con Mercado Liebre Cash, tienes cuotas sin interes con tarjeta o efectivo en puntos de pago.¡Y
                siempre es seguro!</P>
        </div>

        <div>
            <i class="fas fa-gift regalo"></i>
            <h4><strong>ENVIO GRATIS DESDE $2.500</strong></h4>
            <p>Solo por estar registrado en mercado Liebre, tienes envios gratis en miles de productos.Es un
                beneficio de Mercado Puntos.</P>
        </div>

        <div>
            <i class="fas fa-user-shield seguridad"></i>
            <h4><strong>SEGURIDAD, DE PRINCIPIO A FIN</strong></h4>
            <P>¿No Te Gusta? ¡ devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas
                siempre
                protegido</P>
            <h6><strong>Copyrigh 1999-2020 Mercado Liebre</strong></h6>
        </div>

</footer>

</body>

</html>